.ItemInput {
  width: calc(100% - 100px);
  padding: 4px;
  margin: 5px 0;
  border: 1px solid #333;
  border-radius: 5px;
}

.ItemControl {
  width: 100px;
  text-align: center;
  display: inline-block;
}

.IconRemove {
  width: 20px;
  height: auto;
  cursor: pointer;
}