.Joke {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 8px;
}

.JokeIcon {
  width: 80px;
  display: inline-block;
}

.JokeValue {
  width: calc(100% - 80px);
  display: inline-block;
  vertical-align: top;
  text-align: left;
}