.InputMovie {
  margin-bottom: 20px;
}

.InputMovie input {
  width: calc(100% - 100px);
  margin-bottom: 10px;
  padding: 4px;
  border: 1px solid #333;
  border-radius: 5px;
}

.InputMovie .Button {
  width: 60px;
  margin-left: 20px;
  margin-right: 20px;
}